# Dasar Pemrograman Python

## Data Type

In [1]:
#Tipe data integers
x_int = 1
type(x_int)

int

In [2]:
#Tipe data float
x_float = 1.0
type(x_float)

float

In [3]:
#Tipe data boolean
x = True 
y = False

type(x)

bool

In [4]:
#Tipe data complex
x_complex = 1.0 - 1.0j

type(x_complex)

complex

In [5]:
print(x_complex)

(1-1j)

In [6]:
print(x_complex.real, x_complex.imag)

1.0 -1.0

## Type Utility Functions

In [7]:
type(x_int) is int

True

In [8]:
type(x_float) is float

True

In [9]:
type(x_complex) is complex

True

### Type Casting

In [10]:
x = 1.5 #float
print(x, type(x))

1.5 <class 'float'>

In [11]:
x = int(x)
print(x, type(x))

1 <class 'int'>

In [12]:
z = complex(x)
print(z, type(z))

(1+0j) <class 'complex'>

In [13]:
x = float(z)

TypeError: can't convert complex to float

In [ ]:
y = bool(z.real)
print(z.real,"->", y, type(y))
y = bool(z.imag)
print(z.imag,"->", y, type(y))

## Operator and Comparisons

In [14]:
1+2, 1-2, 1*2, 1/2

(3, -1, 2, 0.5)

In [15]:
1.0+2.0, 1.0-2.0, 1.0*2.0, 1.0/2.0

(3.0, -1.0, 2.0, 0.5)

In [16]:
3.0//2.0

1.0

In [17]:
2**2

4

In [18]:
True and False

False

In [19]:
not False

True

In [20]:
True or False

True

In [21]:
2>1, 2<1

(True, False)

In [22]:
2>2, 2<2

(False, False)

In [23]:
2>=2, 2<=2

(True, True)

In [24]:
[1,2] == [1,2]

True

In [25]:
l1=l2=[1,2]
l1 is l2

True

## Compound types: String, List, and Dictionary
### String

In [26]:
#Mencetak tipe dari variabel s
s = "Hello World"
type(s)

str

In [27]:
#Mengetahui panjang dari teks bertipe string yang berada dalam variabel s
len(s)

11

In [28]:
#Mengganti teks bertipe string yang berada dalam variabel s dengan deklarasi teks yang lain
s2 = s.replace ("World","test")
print(s2)

Hello test

In [29]:
#Mengetahui indeks ke 0 dari teks yang disimpan dalam variabel s 
s[0]

'H'

In [30]:
#[start:stop], mencetak teks yang berada dalam variabel s dimulai dari indeks ke 0 hingga ke 5
s[0:5]

'Hello'

In [31]:
#Menampilkan karakter dari s dimulai dari indeks ke 0 hingga ke 5
s[:5]

'Hello'

In [32]:
#Menampilkan karakter dari s dimulai dari indeks ke 6 hingga seterusnya
s[6:]

'World'

In [33]:
#Menampilkan sesuai karakter yang berada dalam variabel s dikarenakan dalam script tidak dideklarasikan apapun
s[:]

'Hello World'

In [34]:
#[start:end:step], menampilkan dengan step 1 langkah yang berarti juga menampilkan secara keseluruhan
s[::1]

'Hello World'

In [35]:
#Menampilkan dengan step 2 langkah loncatan 
s[::2]

'HloWrd'

### String Formatting Examples

In [36]:
#Mencetak string dengan format sejenis
print("str1", "str2", "str3")

str1 str2 str3

In [37]:
#Mencetak string dengan format campuran
print("str1", 1.0, False, -1j)

str1 1.0 False (-0-1j)

In [38]:
#Mencetak string dengan format tanpa spasi
print("str1"+"str2"+"str3")

str1str2str3

In [39]:
# f = untuk float atau bilangan pecahan
print("value = %f"%1.0)

value = 1.000000

In [40]:
# f = untuk float atau bilangan pecahan
# d = untuk integers atau bilangan bulat
s2 = "value1 = %.2f. value2 = %d" % (3.1415,1.5)
print(s2)

value1 = 3.14. value2 = 1

In [41]:
#Implementasi pada value bawaan dari python yaitu berupa pi yang disediakan oleh library math
import math
s3 = "value3 = %.2f" % (math.pi)
print(s3)

value3 = 3.14

In [42]:
#Studi kasus lain penggunaan format string
s4 = "Rahma memiliki {1:d} boneka dan {0:d} alat tulis".format(5, 17)
print(s4)

Rahma memiliki 17 boneka dan 5 alat tulis

## List

In [43]:
#Mencetak list dengan tipe data sejenis lalu mencetak tipenya
l = [1,2,3,4]
print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

In [44]:
print(l)
print(l[1:3])
print(l[::3])

[1, 2, 3, 4]
[2, 3]
[1, 4]

In [45]:
l[0]

1

In [46]:
i = [1,'a',1.0,1-1j]
print(type(i))
print(i)

<class 'list'>
[1, 'a', 1.0, (1-1j)]

In [47]:
#Autogenerate bilangan; startnya 10, stopnya 30, stepnya (langkahnya) 2 loncatan
start = 10
stop = 30
step = 2
range(start,stop,step)

range(10, 30, 2)

In [48]:
#Eksekusi range(start,stop,step) = range(10,30,2)
list(range(start,stop,step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [49]:
#Autogenerate bilangan; mulai dari -10, stopnya kurang dari 10, tanpa loncatan
list(range(-10,10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
s = "Hello Guys"

In [51]:
#Meng-convert string menjadi list dengan memanfaatkan type casting
s2 = list(s)

s2

['H', 'e', 'l', 'l', 'o', ' ', 'G', 'u', 'y', 's']

In [52]:
#Melakukan sorting pada list variabel s2
s2.sort()

print(s2)

[' ', 'G', 'H', 'e', 'l', 'l', 'o', 's', 'u', 'y']

In [53]:
#Melakukan penambahan elemen dari list
l=[]
l.append("A")
l.append("d")
l.append("d")
print(l)

['A', 'd', 'd']

In [54]:
#Melakukan perubahan pada value yang berada pada indeks dengan value baru
l[1]="p"
l[2]="p"
print(l)

['A', 'p', 'p']

In [55]:
#Melakukan penggeseran pada indeks yang lama dan menambah item baru ke dalam list
l.insert(0,"i")
l.insert(1,"n")
l.insert(2,"s")
l.insert(3,"e")
l.insert(4,"r")
l.insert(5,"t")
print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'p', 'p']

In [56]:
#Melakukan penghapusan
l.remove("A")
print(l)

['i', 'n', 's', 'e', 'r', 't', 'p', 'p']

In [57]:
#Melakukan penghapusan dengan cara lain yang memanfaatkan sistem indeks
del l[7]
del l[6]
print(l)

['i', 'n', 's', 'e', 'r', 't']

## Dictionary

In [58]:
#Mengetahui tipe data dari variabel params
#Mencetak nilai-nya
params = {"parameter1":1.0,
          "parameter2":2.0,
          "parameter3":3.0}
print(type(params))
print(params)

<class 'dict'>
{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [59]:
#Mencetak string dengan mengambil value dari yang dimiliki
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

In [60]:
#Mengupdate variabel parameter1 dan parameter2
params["parameter1"] = "A"
params["parameter2"] = "B"

#Menambahkan variabel baru beserta nilainya
params["parameter4"] = "D"

#Melakukan pencetakan 
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

## Control Flow: Conditional Statements

In [61]:
saldo = 100000

if saldo >= 20000:
    print("Saldo Anda mencukupi, Silahkan lanjutkan transaksi!")
else:
    print("Saldo Anda tidak mencukupi, Total saldo Anda sebesar:",saldo)

Saldo Anda mencukupi, Silahkan lanjutkan transaksi!

In [62]:
saldo = 10000

if saldo >= 20000 :
    print("Saldo Anda mencukupi, Silahkan lanjutkan transaksi!")
else:
    print("Saldo Anda tidak mencukupi, Total saldo Anda sebesar:",saldo)

Saldo Anda tidak mencukupi, Total saldo Anda sebesar: 10000

In [63]:
#Statements if dan elif tidak terpenuhi
statement1 = False
statement2 = False

if statement1: #true, karena tidak dideklarasikan apapun
    print("statement1 is True")
elif statement2: #true, karena tidak dideklarasikan apapun
    print("statement2 is True")
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

In [64]:
# if bertingkat
#Jika statementnya sebanding (dalam hal ini True) semua maka yang dicetak adalah kondisi terakhir
statement1 = statement2 = True
if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [65]:
#Syntax error dikarenakan penulisan print tidak tepat
if statement1:
    if statement2:
    print("both statement1 and statement2 are True")

IndentationError: expected an indented block (<ipython-input-65-a0249bf90cb2>, line 4)

In [66]:
#Tidak ada yang dicetak dikarenakan tidak memenuhi kondisi apapun
statement1 = False
if statement1:
    print("printed if statement1 is True")
    print("still inside the if block")

In [67]:
#Mencetak statements di luar if
if statement1:
    print("printed is statement1 is True")
print("now outside the if block")

now outside the if block

## Control Flow: Loops

In [68]:
#Mencetak variabel x yang di dalamnya terdapat value
for x in [1,2,3]:
    print(x)

1
2
3

In [69]:
#Mencetak variabel x yang terdapat dalam ketentuan range
for x in range(4):
    print(x)

0
1
2
3

In [70]:
#Mencetak variabel x yang berada dalam -3 hingga 3
for x in range (-3,3):
    print(x)

-3
-2
-1
0
1
2

In [71]:
#Mencetak variabel word yang di dalamnya terdapat value barupa string
for word in ["scientific","computing","with","python"]: print(word)

scientific
computing
with
python

In [72]:
#Memanggil params pada pembahasan kode program dictionary yang kemudian dimodifikasi sesuai format print
for key in params:
    print(key + " = " + str(params[key]))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

In [73]:
#Memanfaatkan fungsi enumerate untuk menampilkan indeks beserta value yang berada dalam range
for idx, x in enumerate(range(-3,3)):
    print(idx,x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

### List Comprehensions: Creating lists using for loops
#### Cara yang ringkas untuk menginisialisasi daftar

In [74]:
#Melakukan operasi pemangkatan pada variabel x yang berada dalam range
l1 = [x**2 for x in range (0,5)] 
print (l1)

[0, 1, 4, 9, 16]

### While loops
#### Suatu konsep dimana kondisi akan terpenuhi selama dia berada dalam kondisi tertentu

In [75]:
# while = selama
i = 0
while i < 5:
    print(i)
    i = i + 1
print("done")

0
1
2
3
4
done

## Functions

In [76]:
#Melakukan pemanggilan sebuah perintah dengan memanfaatkan nama fungsi
def func0():
    print("test")
func0()

test

In [77]:
#Memberikan penjelasan deskripsi dari fungsi yang dibuat
def func1(s):
    """
    print a string 's' and tell how many characters it has
    """
    print(s + " has " + str(len(s)) + " characters")

In [78]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    print a string 's' and tell how many characters it has

In [79]:
func1("test")

test has 4 characters

In [80]:
#Pembuatan fungsi yang mendefinisikan operasi pemangkatan
# return berfungsi sebagai nilai kembalian
def square(x):
    """
    Return the square of x.
    """
    return x ** 2

In [81]:
#Format eksekusi dari fungsi yang telah dibuat dan akan dituju
square(4)

16

In [82]:
#Pembuatan fungsi yang mendefinisikan operasi pemangkatan secara bersamaan
# return berfungsi sebagai nilai kembalian
def powers(x):
    """"
    Return a few powers of x.
    """
    return x**2, x**3, x**4

In [83]:
#Format eksekusi dari fungsi yang telah dibuat dan akan dituju
powers(3)

(9, 27, 81)

In [84]:
x2, x3, x4 = powers(3)
print(x2)
print(x3)
print(x4)

9
27
81

# IBNU ZAHY' ATHA ILLAH